<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Lista książek</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tytuł</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}">Id</td>
                <td th:text="${book.title}">title</td>
                <td th:text="${book.authors}">autors</td>
            </tr>
        </tbody>
    </table>
</body>
</html>